@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.boxes {
  background-color: var.$background-color-secondary;

  .boxes-container {
    @extend %wrap;
    @extend %section;
    @extend %flex-between;
    gap: 10px;

    @media (max-width: 425px) {
      flex-direction: column;
    }

    .box {
      @extend %rounded-box;

      border-radius: var.$border-radius-m;

      .inner {
        @extend %wrap;
        @extend %section;
      }
    }
  }
}
